/*
---------------------------------------Colors
*/
/*
---------------------------------------FONTS PROPERTIES
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  background-image: url(/img/navbackground.png);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: fixed;
  background-size: 100%;
  font-size: 62.5%;
}
@media (max-width: 800px) {
  html {
    background-size: 100% 15%;
  }
}
html,
body {
  font-family: 'Montserrat', 'arial';
  color: #2f2f2f;
}
html .container,
body .container {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5 {
  font-family: 'sansationbold', 'arial';
  color: #433BBC;
}
html h1,
body h1 {
  font-size: 4rem;
}
html h2,
body h2 {
  font-size: 3.2rem;
}
html h3,
body h3 {
  font-size: 2.8rem;
}
html h4,
body h4 {
  font-size: 2rem;
}
html p,
body p {
  font-size: 1.6rem;
  line-height: 1.4;
}
html a,
body a {
  text-decoration: none;
}
header {
  width: 100%;
  display: flex;
}
@media (max-width: 800px) {
  header {
    flex-direction: column;
    margin-bottom: -1rem;
  }
}
header .nav-logo {
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
}
@media (max-width: 600px) {
  header nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header nav .mainNav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media (max-width: 600px) {
  header nav .mainNav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header nav .registerLogin {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
@media (max-width: 600px) {
  header nav .registerLogin {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header .mainNav,
header .registerLogin,
header a {
  color: #f9f8f8;
  font-family: 'sansationregular';
  text-shadow: 1px 1px #000000;
}
@media (max-width: 600px) {
  header .mainNav,
  header .registerLogin,
  header a {
    padding-bottom: 1rem;
  }
}
footer {
  display: flex;
  align-items: center;
  height: 5rem;
  background: #433BBC;
}
footer a {
  margin-right: 2rem;
  color: #f9f8f8;
  font-family: 'sansationregular';
}
footer p {
  width: 75%;
  padding-left: 1rem;
  color: #f9f8f8;
}
.pitchDescription {
  display: flex;
  align-items: center;
}
.pitchDescription .button-text-group-header-landing {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  width: 75%;
  padding: 10rem 3rem 10rem 3rem;
  border-radius: 0px 20px;
  background: #ffffff;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.56066176) 0%, #cdd3ce 25%, #cdd3ce 75%, rgba(255, 255, 255, 0) 100%);
}
.pitchDescription .button-text-group-header-landing h1 {
  color: #2f2f2f;
}
@media (max-width: 800px) {
  .pitchDescription .button-text-group-header-landing {
    margin: 0 auto;
  }
}
.pitchDescription .landingpage {
  width: 100%;
}
@media (max-width: 800px) {
  .pitchDescription .landingpage {
    display: none;
  }
}
.blockimages {
  width: 45%;
}
.contentblock {
  margin-bottom: 5rem;
  width: 50%;
  padding-left: 1rem;
}
@media (max-width: 800px) {
  .contentblock {
    width: 70%;
  }
}
.solutionExplaination {
  display: flex;
}
@media (max-width: 600px) {
  .solutionExplaination {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
.fullElevatorPitch,
.finalCallToAction {
  display: flex;
}
@media (max-width: 600px) {
  .fullElevatorPitch,
  .finalCallToAction {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
.sharedWidthSectionInDesktop,
.mainFeatures,
.specs {
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .sharedWidthSectionInDesktop,
  .mainFeatures,
  .specs {
    flex-direction: column;
    margin: 0 auto;
  }
  .sharedWidthSectionInDesktop .contentblock,
  .mainFeatures .contentblock,
  .specs .contentblock {
    width: 100%;
  }
}
.endorsement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.endorsement .lambdalogo {
  margin-top: 3rem;
  max-height: 150px;
  max-width: 300px;
  border-radius: 10px;
  width: 100%;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 90%;
  border-bottom: 2px solid black;
  color: #f9f8f8;
}
.top p {
  padding-bottom: 30px;
  font-size: 2rem;
  line-height: 1.5em;
}
.team-member {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  height: auto;
  padding: 20px 0;
}
.team-member .bioPhotoLeft img {
  width: 300px;
  height: auto;
  padding-right: 30px;
}
.team-member .bioTextRight {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.team-member .bioTextRight h2 {
  padding-bottom: 10px;
}
.team-member .bioPhotoRight img {
  width: 300px;
  height: auto;
  padding-left: 30px;
}
.team-member .bioTextLeft {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.team-member .bioTextLeft h2 {
  padding-bottom: 10px;
}
.productContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productContentContainer .swipeAppImg {
  width: 50%;
  padding-bottom: 1rem;
}
.productContentContainer .swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem;
}
.buttonGroup {
  display: flex;
  justify-content: space-evenly;
}
.buttonGroup button {
  margin-top: 5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0px 10px;
  padding: 1rem;
  background: #9FD356;
}
.buttonGroup button h4 {
  color: #f9f8f8;
}
/*
SASS INHERITANCE
@extend
@mixin, e.g. clearfix
GENERATED CONTENT
content
POSITION AND LAYOUT
position
z-index
top
bottom
left
right
Flexbox properties
float
clear
DISPLAY AND VISIBILITY
display
opacity
transform
CLIPPING
overflow
clip
ANIMATION
animation
transition
BOX MODEL (FROM OUTSIDE IN)
margin
box-shadow
border
border-radius
box-sizing
width
height
padding
BACKGROUND
background
cursor
TYPOGRAPHY
font-size
line-height
font-family
font-weight
font-style
text-align
text-transform
word-spacing
color
PSEUDO-CLASSES & PSEUDO-ELEMENTS (NESTED RULES)
:hover
:focus
:active
:before
:after
:first-child
:last-child

*/
