/*
---------------------------------------FONTS PROPERTIES
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
html {
  font-size: 62.5%;
  background-image: url(/img/navbackground.png);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: fixed;
  background-size: 100%;
}
html,
body {
  font-family: 'Montserrat', 'arial';
  color: #2f2f2f;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'sansationbold', 'arial';
  color: #433BBC;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  display: flex;
}
@media (max-width: 800px) {
  header {
    flex-direction: column;
    margin-bottom: -5rem;
  }
}
header .nav-logo {
  width: 100%;
}
header nav {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 600px) {
  header nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header nav .mainNav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  header nav .mainNav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header nav .registerLogin {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  header nav .registerLogin {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header .mainNav,
header .registerLogin,
header a {
  color: #f9f8f8;
  font-family: 'sansationregular';
}
@media (max-width: 600px) {
  header .mainNav,
  header .registerLogin,
  header a {
    padding-bottom: 1rem;
  }
}
.navbackground {
  width: 100%;
}
footer {
  height: 5rem;
  background: #433BBC;
  display: flex;
  align-items: center;
}
footer a {
  color: #f9f8f8;
  font-family: 'sansationregular';
  margin-right: 2rem;
}
footer p {
  width: 75%;
  color: #f9f8f8;
  padding-left: 1rem;
}
.pitchDescription {
  display: flex;
  align-items: center;
}
.landingpage {
  width: 100%;
}
@media (max-width: 800px) {
  .landingpage {
    display: none;
  }
}
.button-text-group-header-landing {
  display: flex;
  flex-direction: column;
  padding: 10rem 3rem 10rem 3rem;
  margin-bottom: 5rem;
  background: #ffffff;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.56066176) 0%, #cdd3ce 25%, #cdd3ce 75%, rgba(255, 255, 255, 0) 100%);
  border-radius: 0px 20px;
}
.button-text-group-header-landing h1 {
  color: #2f2f2f;
}
.contentblock {
  width: 50%;
  margin-bottom: 5rem;
  padding-left: 1rem;
}
@media (max-width: 800px) {
  .contentblock {
    width: 70%;
  }
}
.solutionExplaination {
  display: flex;
}
@media (max-width: 600px) {
  .solutionExplaination {
    flex-direction: column-reverse;
    margin: 0 auto;
    align-items: center;
  }
}
.blockimages {
  width: 45%;
}
.fullElevatorPitch,
.finalCallToAction {
  display: flex;
}
@media (max-width: 600px) {
  .fullElevatorPitch,
  .finalCallToAction {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
}
.sharedWidthSectionInDesktop,
.mainFeatures,
.specs {
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .sharedWidthSectionInDesktop,
  .mainFeatures,
  .specs {
    flex-direction: column;
    margin: 0 auto;
  }
  .sharedWidthSectionInDesktop .contentblock,
  .mainFeatures .contentblock,
  .specs .contentblock {
    width: 100%;
  }
}
.endorsement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top {
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  width: 90%;
  color: #f9f8f8;
  border-bottom: 2px solid black;
}
.top p {
  font-size: 2rem;
  padding-bottom: 30px;
  line-height: 1.5em;
}
.team-member {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  height: auto;
  padding: 20px 0;
}
.team-member .bioPhotoLeft img {
  width: 300px;
  height: auto;
  padding-right: 30px;
}
.team-member .bioTextRight {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.team-member .bioTextRight h2 {
  padding-bottom: 10px;
}
.team-member .bioPhotoRight img {
  width: 300px;
  height: auto;
  padding-left: 30px;
}
.team-member .bioTextLeft {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.team-member .bioTextLeft h2 {
  padding-bottom: 10px;
}
.buttonGroup {
  display: flex;
  justify-content: space-evenly;
}
.buttonGroup button {
  padding: 1rem;
  margin-top: 5rem;
  background: #9FD356;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0px 10px;
}
.buttonGroup button h4 {
  color: #f9f8f8;
}
