footer{
    height: 5rem;
    background:@accent-seconday-dark;
     a {
        color:@acccent-secondary-light;
        font-family: @nav-font;
        margin-right: 2rem;
    }
    display:flex;
    align-items: center;
    p{
        width:75%;
        color:@acccent-secondary-light;
        padding-left: 1rem;
    }
}