footer{
    display:flex;
    align-items: center;
    height: 5rem;
    background:@accent-seconday-dark;
     a{
        margin-right: 2rem;
        color:@acccent-secondary-light;
        font-family: @nav-font;
    }
    p{
        width:75%;
        padding-left: 1rem;
        color:@acccent-secondary-light;
    }
}