* {
    box-sizing: border-box;
  }

.container{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto; 
    border: 1px red solid;
}

html {
    font-size: 62.5%;
}

html, body {
    font-family: @body-font, @back-up-font;
    color: @main-font-color;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: @header-font, @back-up-font;
    color: @header-font-color;
  }
  
  h2 {
    font-size: 3.2rem;
  }
  
  h3 {
    font-size: 2.8rem;
  }
  
  p {
    font-size: 1.6rem;
    line-height: 1.4;
  }