.pitchDescription{
    display: flex;
    align-items: center;
}
.landingpage{
    width:100%;
    @media @tablet{
    display:none;
    }
}
.button-text-group-header-landing{
    display: flex;
    flex-direction: column;
    padding: 10rem 3rem 10rem 3rem;
    margin-bottom: 5rem;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.5606617647058824) 0%, rgba(205,211,206,1) 25%, rgba(205,211,206,1) 75%, rgba(255,255,255,0) 100%);
    border-radius: 0px 20px;
    h1{
        color:@base-secondary-dark;
    }
}

.contentblock{
    width: 70%;
    margin-bottom: 5rem;
    padding-left: 1rem;

}
.solutionExplaination{
    display: flex;
    @media @phone{
        flex-direction: column-reverse;
        margin: 0 auto;
        align-items: center;
      }

}


.blockimages{
    width: 45%;

} 

.fullElevatorPitch, .finalCallToAction{
    display:flex;
    @media @phone{
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
      }
}

.sharedWidthSectionInDesktop, .mainFeatures, .specs{
    @media @tablet{
        margin-right: 10%;
        margin-left: 10%;
        flex-direction: column;
        .contentblock{
            width:100%;
        }
  
      }
}

.endorsement{
    margin: 0 auto;
}

.top{
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    width: 90%;
    color: @acccent-secondary-light
}

.team-member{
    display: flex;
    justify-content: space-between;
        img{
            width: 300px;
            height: auto;
        }
}