.pitchDescription{
    display: flex;
    align-items: center;
}
.landingpage{
    width:100%;
}
.button-text-group-header-landing{
    display: flex;
    flex-direction: column;
    padding: 10rem 3rem 10rem 3rem;
    margin-bottom: 5rem;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.5606617647058824) 0%, rgba(205,211,206,1) 25%, rgba(205,211,206,1) 75%, rgba(255,255,255,0) 100%);
    border-radius: 0px 20px;
    h1{
        color:@base-secondary-dark;
    }
}

.contentblock{
    width: 50%;
    margin-bottom: 5rem;
    padding-left: 3rem;

}
.solutionExplaination{
    display: flex;


}


.blockimages{
    width: 45%;

} 

.sharedWidthSectionInDesktop, .fullElevatorPitch, .finalCallToAction{
    display:flex;
}