header{
    margin-top: -60rem;
    width: 100%;
    display: flex;
    .nav-logo{
        width:100%;
    }
    nav{
        font-size: @nav-link-font-size;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .mainNav{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        
        }
        .registerLogin{
            width: 30%;
            display: flex;
            justify-content: space-evenly;

        }
    }
}

.mainNav, .registerLogin, a {
    color:@acccent-secondary-light;
    font-family: @nav-font;
}

.navbackground{
    width:100%;
}