.productContentContainer{
    .DisplayFlexColumn();
    align-items: center; 
    justify-content: center;
    .swipeAppImg{
        width: 50%;
        padding-bottom: 1rem;
    }
    .swiper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10rem;
    } 
}

