.productContentContainer{
    display:flex;
    .mainFeatures, .specs, .finalCallToAction{
        width: 100%;
    }

    @media @tablet{
        flex-direction: column;
        justify-content: center;
        padding-left: 5rem;
        padding-right: 5rem; 
    }
}