
//colour palette
@base-secondary-dark: #2f2f2f;
@accent-seconday-dark: #433BBC;
@base-primary-mid: #9B9ECE;
@accent-primary-mid: #CDD3cE;
@base-secondary-light: #acadbc;
@acccent-secondary-light: #f9f8f8;

//Optional Colors
@testcolortwo: #9FD356;
@testcolorthree: #BEEB9F;
@testcolorfour: #FFFF9D;
@testcolorfive: #00A388;



/*
---------------------------------------FONTS PROPERTIES
*/

//font colors
@main-font-color: @base-secondary-dark;
@header-font-color: @accent-seconday-dark;

//fontfamily
@header-font: 'sansationbold';
@back-up-font: 'arial';
@body-font: 'Montserrat';
@nav-font:'sansationregular';

//fontsize
@nav-link-font-size:1.6rem;

